<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Task</h1>

    <form action="/editedData/<%=id%>" method="post">
        <input type="text" name="task" placeholder="Add your task..." value="<%=singleTask%>"><br>
        <button type="submit">Done</button>
    </form>

</body>

</html>